[submodule "arduino_send_telemetry/libThingsBoard"]
	path = arduino_send_telemetry/libThingsBoard
	url = git@github.com:ATM-HSW/libThingsBoard.git
[submodule "arduino_send_telemetry/libMbedArduinoJson"]
	path = arduino_send_telemetry/libMbedArduinoJson
	url = git@github.com:ATM-HSW/libMbedArduinoJson.git
[submodule "arduino_send_telemetry/libHttp"]
	path = arduino_send_telemetry/libHttp
	url = git@github.com:ATM-HSW/libHttp.git
